{% extends 'base.html' %}

{% block page %}
    BrightBlog - {{ post.title }}
{% endblock %}

{% block content %}

<h1> {{ post.title }} </h1>
<small>Written by {{ post.author.first_name }} {{ post.author.last_name }} - <em>{{ post.pub_date }}</em>
    {% if user.is_authenticated%} &nbsp;
        <strong><small>
            <a href="{% url 'edit_post' post.pk %}" class="card-link btn btn-secondary btn btn-sm">
                Edit
            </a>
            <a href="{% url 'delete_post' post.pk %}" class="card-link btn btn-danger btn btn-sm">
                Delete
            </a>
        </small></strong>
    {% endif %}
<br/>
<hr>
{{ post.content|safe }}
<br/>
<br/>
<br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back To Home</a>
<br/>
<br/>

<hr class="border border-dark border-3 opacity-75">

{% if user.is_authenticated %}
    {% if not post.comments.all %}
        <h1>Comment Section</h1>
        <hr>
        <strong>No Comments Yet: </strong> <a href="#" class="btn btn-secondary btn-sm">Be The First</a>
    {% else %}
        <h1>Comment Section</h1>
        <hr>
        <a href="#" class="btn btn-secondary">Add A Comment</a>
        <br/> <br/>
        {% for comment in post.comments.all %}
            <strong>{{ comment.author }}</strong> - <em>{{ comment.date }} </em>
            <br/>
            {{  comment.body }}
            <br/> <hr>
        {% endfor %}
    {% endif %}
{% else %}
    <strong>Login to view and post comments!</strong>
{% endif %}


{% endblock %}