{% extends 'base.html' %}

{% block page %}
    BrightBlog - Create a New Category
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>Add A New Category:</h1>
    <br/>

    <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <button class="btn btn-secondary">Add</button>
        </form>
    </div>
  {% else %}
    <h1>Unauthorized: you don't have the permission to create posts!</h1>
  {% endif %}

{% endblock %}